/* Main style sheet for all pages */

body {
    background-color: #AABED9;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: small;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* Main block elements, structural layout */

#header {
    white-space: nowrap;
    overflow: hidden;
}

#header img {
    max-width: 100%;
    height: auto;
    display: block;
}

#header div.header-inline {
    vertical-align: middle;
    display: inline-block;
}

#header .header-text {
    padding-left: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    font-size: x-large;
}

#header {
    background-color: #fff;
}

#content {
    background-color: white;
}

#footer .left {
    float: left;
    padding-left: 20px;
    padding-top: 3px;
}

#footer .right {
    text-align: right;
    padding-right: 20px;
    padding-top: 3px;
    float: right;
}

#footer {
    padding-top: 0.5em;
    padding-bottom: 7px;
    font-size: small;
    color: #000;
    background-color: #fff;
    overflow: hidden;
}

.screen-title {
    padding-left: 20px;
    padding-right: 10px;
}

.control-item {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    max-width: 100%;
}

.opm-container {
	
}

.control {
    padding-left: 40px;
    padding-right: 10px;
}

.owd-buttons-right {
	text-align: right;
}

.opm-submit-buttons {
    padding-left: 30px;
    padding-right: 10px;
}

.opm-submit-top-right {
	float: right;
}

.opm-submit-bottom-right {
	text-align: right;
}

.opm-document {
    padding-left: 30px;
    padding-right: 10px;
}

.opm-wrap {
	float: left;
}

.explanation {
    margin-left: 30px;
    margin-right: 10px;
}

.question, .messages, .Heading1, .Heading2, .Heading3, .Heading4, .Alert, .Comment, .Normal {
    padding-left: 30px;
    padding-right: 16px;
    line-height: 1.5;
}

.control-checkbox .question {
    padding-left: 2px;
    padding-right: 0px;
}

#progress-stages-mobile {
    display: none;
}

input[type="text"] {
    border: 1px solid #cfcfcf;
    width: 100%;
}

.list-input select {
    width: 90%;
    max-width: 250px;
}

.relationship-control select {
	width:100%
}

.control textarea {
    width: 90%;
    max-width: 250px;
}

.control select {
	width: 100%;
}

.control input.searching-combo {
    width: 90%;
    max-width: 230px;
}

.control button.searching-combo {
    width: 20px;
}

.entity-instance-group .button-group {
    font-size: smaller;
}

.entity-instance-widget {
    font-size: smaller;
    float: right;
    margin-top: 0.5em;
}

.data-review-item {
    clear: both;
}

.data-review-item .data-review-input-text {
    float: left;
    text-align: left;
    padding-bottom: 0.2em;
}

.data-review-item .data-review-input-value {
    float: left;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 0.2em;
}

.data-review-entity-group, .data-review-screen-item, .data-review-folder-item {
    clear: both;
}

.nodeicon {
    float: left;
    padding-top: 2px;
}

.data-review-screen-item, .data-review-folder-item {
    padding-top: 0.3em;
}

.data-review-folder-item .folder-name {
    clear: none;
    float: left;
    padding-bottom: 0.2em;
}

.data-review-screen-item ul {
    margin-top: 0.2em;
}

li .data-review-input-text {
    padding-left: 0px;
}

.control-list {
    padding-left: 15px;
}

.control-list ul li {
    list-style: square outside none;
    padding-left: 0px;
    padding-top: 0.5em;
}

.selection-list ul {
    padding-left: 30px;
}

.selection-list ul li {
    padding-top: 7px;
}

.column {
    min-width: 250px;
    width: 40%;
    float: left;
}

#progress-stages {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
}

#progress-stages-mobile select {
    width: 100%;
    margin: 0 0 0 0;
    border: none;
}

#progress-stages ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#progress-stages li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    white-space: nowrap;
    line-height: 2em;
}

#progress-stages {
    border-top-color: #25383C;
    border-bottom-color: #6488B8;
}

.opm-progress-stages {
    background-color: #6488B8;
}

.opm-progress-screens {
    background-color: #6488B8;
}

.active-stage {
    font-size: large;
    font-weight: bold;
    color: White;
    background-color: #345A92;
}

.other-stage {
    font-size: large;
    color: White;
    background-color: #6488B8;
}

.future-stage {
    font-size: large;
    color: #BECEE3;
    background-color: #6488B8;
}

.active-screen {
    font-weight: bold;
    color: White;
    background-color: #345A92;
}

.other-screen {
    color: White;
    background-color: #6488B8;
}

.future-stage {
    cursor: default;
}

#progress-stages a, #progress-stages a:link, #progress-stages a:active, #progress-stages a:visited, #progress-stages a:hover {
    text-decoration: none;
    color: inherit;
}

textarea {
    color: #000000;
    background-color: #ffffff;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: small;
    resize: none;
}

input .disabled, button .disabled, button[disabled] {
    opacity: .60;
    color: #cfcfcf;
    background-color: #efefef;
    cursor: not-allowed;
}

input[readonly], textarea[readonly], input .readonly {
    opacity: .60;
    color: #000000;
    background-color: #efefef;
    cursor: not-allowed;
}

.owd-remove, .owd-add {
    font-size: xx-small;
}

.owd-add, .owd-submit, .owd-back, .owd-remove {
	cursor: pointer;
	padding: 0.3em 1em 0.3em 1em;
}

.owd-back {
	display: none;
}

.owd-has-js .owd-back {
	display: inline;
}

select[disabled] {
    background-color: #efefef;
    cursor: not-allowed;
}

.input-checkbox {
    border: none;
    padding-top: 2px;
}

.buttons {
    width: 100%;
}

.button-group {
    padding-left: 30px;
    padding-right: 10px;
}

/* hide labels used only for accessibility */
legend {
    visibility: hidden;
    display: none;
}

label.hidden {
    visibility: hidden;
    display: none;
}

.system-error {
    padding-left: 20px;
    padding-right: 10px;
}

.error-details {
    padding-left: 30px;
    padding-right: 10px;
}

/** Messages displayed to the user */
#messages {
    clear: both;
    margin: 15px 15px 15px 15px;
    color: #000000;
}

#messages p {
    margin: 5px 5px 5px 15px;
}

ol li {
    padding: 2px 0 0 10px;
    list-style-image: none;
    list-style-position: inside;
    list-style-type: decimal;
}

/* Decision report and summary screen */
ul li {
    padding: 2px 0 0 10px;
    list-style-image: none;
    list-style-position: inside;
    list-style-type: square;
}

.GoalControlBlock ol li {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: decimal;
}

.GoalControlBlock {
    margin-top: 15px;
}

.GoalControlBlock ul li {
    padding: 0.2em 0 0.2em 0;
}

.GoalControlBlock ul li div {
    display: inline;
}

.help {
    padding-top: 3em;
    padding-left: 40px;
}

/* Pure text styling */
.submit-break {
    color: #e0dfe3;
    background-color: #cfcfcf;
    border-top: 1px solid #cfcfcf;
    height: 1px;
}

.eig-odd {
    background-color: #D3DFEF;
}

.eig-even {
    background-color: #E9EFF7;
}

.nested-eic {
    padding-left: 30px;
    background-color: white;
}


.screen-title {
    font-size: x-large;
}

h1, h2, h3, h4, h5, h6, .Heading1, .Heading2, .Heading3, .Heading4, .Alert, .Comment {
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

h1, .Heading1 {
    color: black;
    font-size: x-large;
}

h2, .Heading2 {
    color: #25383C;
    font-size: large;
}

h3, .Heading4 {
    color: #25383C;
    font-weight: bold;
}

h4, .Heading3 {
    font-style: italic;
    font-size: large;
}

.Alert {
    color: #E50000;
}

.Comment {
    color: #6F6780;
    font-size: x-small
}

.warning-page-msg{
    padding-top: 15px;
    font-weight: bold;
}

.warning-list{
    padding-left: 35px;
    padding-right: 16px;
    line-height: 1.5;
}


#confirm-end-session-text {
    text-align: center;
    margin-left: -10%;
}


ul li {
    padding: 2px 0 0 10px;
    list-style-image: none;
    list-style-position: inside;
    list-style-type: square;
}

ul.datareview li {
    list-style-type: none;
    padding-top: 0.2em;
}

ul.datareview li img {
    padding-right: 5px;
}

ul.datareview li.expanded ul {
    display: block;
}

ul.datareview li ul {
    margin-left: 0;
}

ul.datareview li.collapsed ul {
    display: none;
}

.data-review-input-text {
    font-weight: bold;
}


ul.decisionreport li {
    list-style-type: none;
    padding-top: 5px;
}

ul.decisionreport li img {
    margin-right: 5px;
}

ul.decisionreport li.expanded ul {
    display: block;
}

ul.decisionreport li.collapsed ul {
    display: none;
}

a:link, a:active, a:visited {
    color: #505066;
    text-decoration: underline;
}

a:hover {
    color: #676784;
    text-decoration: underline;
}

.error {
    color: #E50000;
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: italic;
}

.warning {
    color: #333333;
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: italic;
}

.attribute-id {
    color: #6F6780;
    font-size: x-small;
    float: left;
    padding-right: 10px;
}

.mandatory {
    vertical-align: top;
}

.mandatory-table {
    float: left;
    padding-right: 3px;
}

.clear {
    clear: both;
}

.listbox {
    width: 30;
}

/* for Internet Explorer 6 only, with chinese and links underline will be hidden randomly */
.GoalControlBlock, .question {
    padding-bottom: 1px;
}

/* Additional styles for JQuery searching combbox */
.ui-button {
    margin-left: -1px;
    vertical-align: baseline;
}

.ui-button-icon-only .ui-button-text {
    padding: 0.35em;
    line-height: 1.4;
    display: inline;
}

li.ui-menu-item {
    list-style-type: none;
    list-style-position: outside
}

.ui-widget-content {
    border: 1px solid #cfcfcf;
    color: #000000;
}

.ui-state-disabled {
    opacity: .60;
    background-image: none;
    color: black;
    background-color: #efefef;
    border: 1px solid #cfcfcf;
    cursor: not-allowed;
}

.ui-widget {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: small;
}

.searching-combo-number {
    width: 25px;
}

/* Additional styles for Explanation controls */
.explanation {
    border: 1px solid #cfcfcf;
    color: black;
}

.explanation_caption {
    background-color: #efefef;
    color: black;
    padding: 2px 2px 4px 2px;
}

.explanation_details {
    padding-bottom: 3px;
}

.explanation a {
    color: black;
    text-decoration: none;
    cursor: default;
}

a.explanation-proven-ref {
    color: #6F6780;
    text-decoration: underline;
}

a.explanation-proven-ref:hover {
    cursor: pointer;
}

a.explanation-tree-parent:link {
    color: black;
    text-decoration: none;
}

a.explanation-tree-parent:visited {
    color: black;
    text-decoration: none;
}

a.explanation-tree-parent:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

a.explanation-tree-parent:active {
    color: black;
    text-decoration: none;
}

ul.explanation-node-content {
    padding-left: 10px;
}

.captcha {
    padding: 5px 0px 5px 20px;
}

.captcha-audio {
    vertical-align: top;
}

.show-hide {
    padding-top: 30px;
}

.show-hide:hover {
    text-decoration: underline;
    cursor: pointer;
}

.ex-msg {
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}

.trace {
    padding-top: 5px;
    padding-left: 20px;
}

.control .opa-hint-text {
    color: #767676;
}

.ui-datepicker-trigger {
    padding: 1px 0px 0px 3px;
    vertical-align: top;
}

.owd-accessible-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}

select.dmy-inputs-day {
    width: auto;
}

select.dmy-inputs-month {
    width: auto;
}

input.dmy-inputs-year {
    width: auto;
}

.owd-entity-table {
    display: table;
    padding: 0px 30px;
}

.owd-entity-table-head {
    display: table-header-group;
}

.owd-entity-table-row, .owd-entity-table-messages {
    display: table-row;
}

.owd-entity-table-body {
    display: table-row-group;
}

.owd-entity-table-cell {
    display: table-cell;
    background: transparent;
    text-align: left;
    font-weight: normal;
    padding: 3px 5px;
    vertical-align: middle;
}

.owd-entity-table-cell .captcha, .owd-entity-table-cell .opm-document {
    padding: 0px;
}

.owd-entity-table-messages .owd-entity-table-cell{
    padding: 3px 5px 0px 5px;
}

.owd-entity-table-cell .messages, .owd-entity-table-cell .button-group, .owd-entity-table-cell .control {
    padding: 0px;
}

.owd-entity-table-cell .error, .owd-entity-table-cell .warning {
    margin: 0px
}

.table-question-header {
    font-weight: bold;
    color: white;
    background-color: #345A92;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    vertical-align: bottom;
}

.owd-table-label-hide {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}

.owd-table-message-hide {
    display: none;
}

.multi-attach-item {
	margin-bottom: 0.5em;
}

@media screen and (max-width: 400px) {
    .screen-title, .question, .messages, .owd-entity-table-cell .messages,
    .Heading1, .Heading2, .Heading3, .Heading4, .Alert, .Comment, .Normal,
    .button-group, .opm-submit-buttons, .opm-document, .owd-entity-table-cell .opm-document, .warning-list {
        padding-left: 8px;
    }

    .explanation {
        margin-left: 8px;
    }

    .control {
        padding-left: 16px;
    }

    .owd-entity-table, .owd-entity-table-row, .owd-table-message-hide, .owd-entity-table-body, .owd-entity-table-cell {
        display: block;
    }

    .owd-entity-table, .nested-eic{
        padding: 0px
    }

    .owd-entity-table-head, .owd-entity-table-messages, .mandatory-table, .owd-responsive-hide {
        display: none;
    }

    .owd-entity-table-cell {
        padding: 0.5em 0 0.5em 0
    }

    .owd-table-label-hide {
        position: inherit !important;
        clip: auto;
    }

    .owd-entity-table-cell .control {
        padding: 0px 10px 0px 16px
    }

    .owd-entity-table-cell .error, .owd-entity-table-cell .warning {
        margin: 5px 0px
    }
}

@media screen and (max-width: 330px) {
    .opa-responsive-stages #progress-stages {
        display: none;
    }

    .opa-responsive-stages #progress-stages-mobile {
        display: block;
    }
}
