link(rel='stylesheet', type='text/css', href='/web-determinations/staticresource/reset.css')
link(rel='stylesheet', type='text/css', href='/web-determinations/staticresource/jquery-ui.min.css')
link(rel='stylesheet', type='text/css', href='/web-determinations/staticresource/jquery.ui.theme.css')
link(rel='stylesheet', type='text/css', href='/web-determinations/staticresource/main.css')
