script(src='/web-determinations/staticresource/jquery-1.9.1.min.js', type='text/javascript')
script(src='/web-determinations/staticresource/jquery.ui.core.min.js', type='text/javascript')
script(src='/web-determinations/staticresource/jquery.ui.widget.min.js', type='text/javascript')
script(src='/web-determinations/staticresource/jquery.ui.position.min.js', type='text/javascript')
script(src='/web-determinations/staticresource/jquery.ui.button.min.js', type='text/javascript')
script(src='/web-determinations/staticresource/jquery.ui.menu.min.js', type='text/javascript')
script(src='/web-determinations/staticresource/jquery.ui.autocomplete.min.js', type='text/javascript')
script(src='/web-determinations/staticresource/jquery.ui.datepicker.min.js', type='text/javascript')
script(src='/web-determinations/staticresource/custom-widgets.js', type='text/javascript')
