//- index.jade
extends ./partials/_layout.jade

block title
  title 
    | Prospects of Success  (App for care order joined party   Pub Law   Fam) - Merits Assessment v12.1

block content
  #wrapper
      #header(role='banner')
        .header-image
      #progress-stages(role='navigation')
        .opm-progress-stages
          ul
            li.order-stage.other-stage
              a(href='/web-determinations/635742618893368805/investigate/Merits+Assessment+v12/en-GB/ScreenOrder~Main~qs%24TEST_PUI_GLOBAL_INPUT%24global%24global/qs%24TEST_PUI_GLOBAL_INPUT%24global%24global')
                | PUI Inputs (For Testing Only)
            li.order-stage.other-stage
              a(href='/web-determinations/635742618893368805/investigate/Merits+Assessment+v12/en-GB/ScreenOrder~Main~qs%24SA_INTRODUCTION%24global%24global/qs%24SA_INTRODUCTION%24global%24global')
                | Case Overview
            li.order-stage.other-stage
              a(href='/web-determinations/635742618893368805/investigate/Merits+Assessment+v12/en-GB/ScreenOrder~Main~qs%24PREV_COURT_PROCEEDINGS%24global%24global/qs%24PREV_COURT_PROCEEDINGS%24global%24global')
                | Case Details
            li.order-stage.other-stage
              a(href='/web-determinations/635742618893368805/investigate/Merits+Assessment+v12/en-GB/ScreenOrder~Main~qs%24CLIENT_STANDING%24global%24global/qs%24CLIENT_STANDING%24global%24global')
                | Proceeding Specific
            li.order-stage.active-stage
              | Criterion
            li.order-stage.future-stage
              | Statements
            li.order-stage.future-stage
              | Evidence
            li.order-stage.future-stage
              | Declarations
            li.order-stage.future-stage
              | Merits Assessment
        .opm-progress-screens
          ul
            li.order-screen.other-screen
              a(href='/web-determinations/635742618893368805/investigate/Merits+Assessment+v12/en-GB/ScreenOrder~Main~qs%24FAM_COSTS_TO_COMPLETION%24PROCEEDING%24the+proceeding1/qs%24FAM_COSTS_TO_COMPLETION%24PROCEEDING%24the+proceeding1')
                | Costs to Completion  (App for care order joined party   Pub Law   Fam)
            li.order-screen.active-screen
              a(href='/web-determinations/635742618893368805/investigate/Merits+Assessment+v12/en-GB/ScreenOrder~Main~qs%24FAM_PROSPECTS_OF_SUCCESS%24PROCEEDING%24the+proceeding1/qs%24FAM_PROSPECTS_OF_SUCCESS%24PROCEEDING%24the+proceeding1')
                | Prospects of Success  (App for care order joined party   Pub Law   Fam)
      #progress-stages-mobile
        div
          select#stages-select-mobile.active-stage
        div
          select#screen-select-mobile.active-screen
      #content(role='main')
        form#owdInterviewForm(name='form', accept-charset='UTF-8', method='POST', action='/web-determinations/635742618893368805/investigate/Merits+Assessment+v12/en-GB/ScreenOrder~Main~qs%24FAM_PROSPECTS_OF_SUCCESS%24PROCEEDING%24the+proceeding1/qs%24FAM_PROSPECTS_OF_SUCCESS%24PROCEEDING%24the+proceeding1', enctype='multipart/form-data', role='form')
          h1.screen-title
            | Prospects of Success  (App for care order joined party   Pub Law   Fam)
          #cd-PROCEEDING_theproceeding1_a_FAMILY_PROSPECTS_OF_SUCCESS.control-item(style='width:100%;')
            .question
              label#lbl-PROCEEDING_theproceeding1_a_FAMILY_PROSPECTS_OF_SUCCESS
                | Which of the following best describes the prospects of achieving a successful outcome for your client?
              img.mandatory(src='/web-determinations/staticresource/images/mandatory.png', style='', alt='This question is mandatory')
            .control
              select#PROCEEDING_theproceeding1_a_FAMILY_PROSPECTS_OF_SUCCESS.owd-input.list-input(style='max-width:250px', name='PROCEEDING_the+proceeding1_a_FAMILY_PROSPECTS_OF_SUCCESS', size='1', aria-invalid='false', aria-hidden='false', aria-disabled='false', aria-required='true', aria-labelledby='lbl-PROCEEDING_theproceeding1_a_FAMILY_PROSPECTS_OF_SUCCESS', aria-describedby='msg-PROCEEDING_theproceeding1_a_FAMILY_PROSPECTS_OF_SUCCESS')
                option(selected='', value='')  
                option(value='Very Good') Very Good
                option(value='Good') Good
                option(value='Moderate') Moderate
                option(value='Borderline') Borderline
                option(value='Unclear') Unclear
                option(value='Poor') Poor
            #msg-PROCEEDING_theproceeding1_a_FAMILY_PROSPECTS_OF_SUCCESS.messages
          #cd-qsFAM_PROSPECTS_OF_SUCCESSPROCEEDINGtheproceeding10.control-item(style='width:100%;')
            #msg-qsFAM_PROSPECTS_OF_SUCCESSPROCEEDINGtheproceeding10.messages
            #qsFAM_PROSPECTS_OF_SUCCESSPROCEEDINGtheproceeding10.owd-input.Heading3 Help Note:
          #cd-qsFAM_PROSPECTS_OF_SUCCESSPROCEEDINGtheproceeding11.control-item(style='width:100%;')
            #msg-qsFAM_PROSPECTS_OF_SUCCESSPROCEEDINGtheproceeding11.messages
            #qsFAM_PROSPECTS_OF_SUCCESSPROCEEDINGtheproceeding11.owd-input.Normal
              | For further information on assessing Prospects of Success please refer to Regulations 4 & 5 of The Civil Legal Aid (Merits Criteria) Regulations 2013 and paragraph 4.1 Lord Chancellor’s Guidance under Section 4 of the Legal Aid, Sentencing and Punishment of Offenders Act 2012.
          #cd-form-buttons.control-item
            .opm-submit-buttons.opm-submit-bottom-right
              hr.submit-break
              .button-spacer  
              button#back-button.owd-back(name='back', type='button', value='clicked') Back
              button#submit.owd-submit(name='submit', type='submit', value='clicked') Next
