//- index.jade
extends ./partials/_layout.jade

block title
  title Checkbox xml - Check Box xml

block content
  #wrapper
    #header(role='banner')
      .header-image
    #progress-stages(role='navigation')
      .opm-progress-screens
        ul
          li.order-screen.active-screen
            a(href='/web-determinations/635742668236806070/investigate/Check+Box+xml/en-US/ScreenOrder~Main~qs%24818041aa-c1cc-4112-a3e7-491f78481980%24global%24global/qs%24818041aa-c1cc-4112-a3e7-491f78481980%24global%24global')
              | Checkbox xml
          li.order-screen.other-screen
            a(href='/web-determinations/635742668236806070/investigate/Check+Box+xml/en-US/ScreenOrder~Main~qs%24c22fc6ad-2390-4c5d-b8f7-7ddfe65adb5c%24global%24global/qs%24c22fc6ad-2390-4c5d-b8f7-7ddfe65adb5c%24global%24global')
              | Interview Complete
    #progress-stages-mobile
      div
        select#screen-select-mobile.active-screen
    #content(role='main')
      form#owdInterviewForm(name='form', accept-charset='UTF-8', method='POST', action='/web-determinations/635742668236806070/investigate/Check+Box+xml/en-US/ScreenOrder~Main~qs%24818041aa-c1cc-4112-a3e7-491f78481980%24global%24global/qs%24818041aa-c1cc-4112-a3e7-491f78481980%24global%24global', enctype='multipart/form-data', role='form')
        .opm-submit-buttons.opm-submit-top-right
          .button-spacer  
          button#submit.owd-submit(name='submit', type='submit', value='clicked') Next
        h1.screen-title
          | Checkbox xml
        #cd-global_global_a_CHECKBOX_ONE.control-item(style='width:100%;')
          .control
            .control-checkbox
              input#global_global_a_CHECKBOX_ONE.owd-input(type='checkbox', name='global_global_a_CHECKBOX_ONE', value='true', checked='', aria-hidden='false', aria-disabled='false', aria-invalid='false', aria-labelledby='lbl-global_global_a_CHECKBOX_ONE', aria-describedby='msg-global_global_a_CHECKBOX_ONE')
              label#lbl-global_global_a_CHECKBOX_ONE.question(for='global_global_a_CHECKBOX_ONE') Checkbox 1
          #msg-global_global_a_CHECKBOX_ONE.messages
        #cd-global_global_a_CHECKBOX_TWO.control-item(style='width:100%;')
          .control
            .control-checkbox
              input#global_global_a_CHECKBOX_TWO.owd-input(type='checkbox', name='global_global_a_CHECKBOX_TWO', value='true', checked='', aria-hidden='false', aria-disabled='false', aria-invalid='false', aria-labelledby='lbl-global_global_a_CHECKBOX_TWO', aria-describedby='msg-global_global_a_CHECKBOX_TWO')
              label#lbl-global_global_a_CHECKBOX_TWO.question(for='global_global_a_CHECKBOX_TWO') Checkbox 2
          #msg-global_global_a_CHECKBOX_TWO.messages
        #cd-global_global_a_CHECKBOX_THREE.control-item(style='width:100%;')
          .control
            .control-checkbox
              input#global_global_a_CHECKBOX_THREE.owd-input(type='checkbox', name='global_global_a_CHECKBOX_THREE', value='true', checked='', aria-hidden='false', aria-disabled='false', aria-invalid='false', aria-labelledby='lbl-global_global_a_CHECKBOX_THREE', aria-describedby='msg-global_global_a_CHECKBOX_THREE')
              label#lbl-global_global_a_CHECKBOX_THREE.question(for='global_global_a_CHECKBOX_THREE') Checkbox 3
          #msg-global_global_a_CHECKBOX_THREE.messages
