//- index.jade
extends ./partials/_layout.jade

block title
  title Issued Proceedings - Merits Assessment v12.1

block content
  #wrapper
      #header(role='banner')
        .header-image
      #progress-stages(role='navigation')
        .opm-progress-stages
          ul
            li.order-stage.other-stage
              a(href='/web-determinations/635742618893368805/investigate/Merits+Assessment+v12/en-GB/ScreenOrder~Main~qs%24TEST_PUI_GLOBAL_INPUT%24global%24global/qs%24TEST_PUI_GLOBAL_INPUT%24global%24global')
                | PUI Inputs (For Testing Only)
            li.order-stage.other-stage
              a(href='/web-determinations/635742618893368805/investigate/Merits+Assessment+v12/en-GB/ScreenOrder~Main~qs%24SA_INTRODUCTION%24global%24global/qs%24SA_INTRODUCTION%24global%24global')
                | Case Overview
            li.order-stage.active-stage
              | Case Details
            li.order-stage.future-stage
              | Proceeding Specific
            li.order-stage.future-stage
              | Criterion
            li.order-stage.future-stage
              | Statements
            li.order-stage.future-stage
              | Evidence
            li.order-stage.future-stage
              | Declarations
            li.order-stage.future-stage
              | Merits Assessment
        .opm-progress-screens
          ul
            li.order-screen.other-screen
              a(href='/web-determinations/635742618893368805/investigate/Merits+Assessment+v12/en-GB/ScreenOrder~Main~qs%24PREV_COURT_PROCEEDINGS%24global%24global/qs%24PREV_COURT_PROCEEDINGS%24global%24global')
                | Previous Court Proceedings
            li.order-screen.other-screen
              a(href='/web-determinations/635742618893368805/investigate/Merits+Assessment+v12/en-GB/ScreenOrder~Main~qs%24GENERAL_DETAILS%24global%24global/qs%24GENERAL_DETAILS%24global%24global')
                | General Details
            li.order-screen.active-screen
              a(href='/web-determinations/635742618893368805/investigate/Merits+Assessment+v12/en-GB/ScreenOrder~Main~qs%24PROCEEDINGS_ISSUED%24global%24global/qs%24PROCEEDINGS_ISSUED%24global%24global')
                | Issued Proceedings
      #progress-stages-mobile
        div
          select#stages-select-mobile.active-stage
        div
          select#screen-select-mobile.active-screen
      #content(role='main')
        form#owdInterviewForm(name='form', accept-charset='UTF-8', method='POST', action='/web-determinations/635742618893368805/investigate/Merits+Assessment+v12/en-GB/ScreenOrder~Main~qs%24PROCEEDINGS_ISSUED%24global%24global/qs%24PROCEEDINGS_ISSUED%24global%24global', enctype='multipart/form-data', role='form')
          h1.screen-title
            | Issued Proceedings
          #cd-global_global_a_PROCS_ARE_BEFORE_THE_COURT.control-item(style='width:100%;')
            .question
              label#lbl-global_global_a_PROCS_ARE_BEFORE_THE_COURT
                | Are the proceedings for which funding is being sought currently before the court?
              img.mandatory(src='/web-determinations/staticresource/images/mandatory.png', style='', alt='This question is mandatory')
            .control
              .radio-group-boolean(role='radiogroup', aria-labelledby='lbl-global_global_a_PROCS_ARE_BEFORE_THE_COURT', aria-hidden='false', aria-disabled='false', aria-invalid='false', aria-required='true', aria-describedby='msg-global_global_a_PROCS_ARE_BEFORE_THE_COURT')
                input#global_global_a_PROCS_ARE_BEFORE_THE_COURTt.owd-input(type='radio', name='global_global_a_PROCS_ARE_BEFORE_THE_COURT', value='true', aria-labelledby='lbl-global_global_a_PROCS_ARE_BEFORE_THE_COURTt')
                label#lbl-global_global_a_PROCS_ARE_BEFORE_THE_COURTt(for='global_global_a_PROCS_ARE_BEFORE_THE_COURTt') Yes
                input#global_global_a_PROCS_ARE_BEFORE_THE_COURTf.owd-input(type='radio', name='global_global_a_PROCS_ARE_BEFORE_THE_COURT', value='false', aria-labelledby='lbl-global_global_a_PROCS_ARE_BEFORE_THE_COURTf')
                label#lbl-global_global_a_PROCS_ARE_BEFORE_THE_COURTf(for='global_global_a_PROCS_ARE_BEFORE_THE_COURTf') No
                input#global_global_a_PROCS_ARE_BEFORE_THE_COURTu.owd-input(type='radio', name='global_global_a_PROCS_ARE_BEFORE_THE_COURT', value='', style='display: none', aria-labelledby='lbl-global_global_a_PROCS_ARE_BEFORE_THE_COURTu')
                label#lbl-global_global_a_PROCS_ARE_BEFORE_THE_COURTu(for='global_global_a_PROCS_ARE_BEFORE_THE_COURTu', style='display: none') Uncertain
            #msg-global_global_a_PROCS_ARE_BEFORE_THE_COURT.messages
          #cd-global_global_a_NAME_OF_COURT.control-item(style='width:100%;display: none')
            .question
              label#lbl-global_global_a_NAME_OF_COURT Name of the Court:
              img.mandatory(src='/web-determinations/staticresource/images/mandatory.png', style='display: none', alt='This question is mandatory')
            .control
              textarea#global_global_a_NAME_OF_COURT.owd-input(rows='5', cols='30', style='max-width:250px', name='global_global_a_NAME_OF_COURT', aria-invalid='false', aria-labelledby='lbl-global_global_a_NAME_OF_COURT', aria-hidden='true', aria-disabled='false', aria-required='false', aria-describedby='msg-global_global_a_NAME_OF_COURT')
            #msg-global_global_a_NAME_OF_COURT.messages
          #cd-global_global_a_COURT_TYPE.control-item(style='width:100%;display: none')
            .question
              label#lbl-global_global_a_COURT_TYPE Type of Court:
              img.mandatory(src='/web-determinations/staticresource/images/mandatory.png', style='display: none', alt='This question is mandatory')
            .control
              select#global_global_a_COURT_TYPE.owd-input.list-input(style='max-width:250px', name='global_global_a_COURT_TYPE', size='1', aria-invalid='false', aria-hidden='true', aria-disabled='false', aria-required='false', aria-labelledby='lbl-global_global_a_COURT_TYPE', aria-describedby='msg-global_global_a_COURT_TYPE')
                option(selected='', value='')  
                option(value='Magistrates Court') Magistrates Court
                option(value='SFC - Other Judge') SFC - Other Judge
                option(value='SFC - Circuit Judge/District Judge/Costs Judge') SFC - Circuit Judge/District Judge/Costs Judge
                option(value='SFC - High Court Judge') SFC - High Court Judge
                option(value='County Court') County Court
                option(value='Crown Court') Crown Court
                option(value='High Court') High Court
                option(value='Court of Appeal') Court of Appeal
                option(value='Supreme Court') Supreme Court
                option(value='Employment Appeal Tribunal') Employment Appeal Tribunal
                option(value='Mental Health Review Tribunal') Mental Health Review Tribunal
                option(value='Upper Tribunal (Mental Health)') Upper Tribunal (Mental Health)
                option(value='First-Tier Tribunal (Immigration and Asylum Chamber)') First-Tier Tribunal (Immigration and Asylum Chamber)
                option(value='Upper Tribunal (Immigration and Asylum Chamber)') Upper Tribunal (Immigration and Asylum Chamber)
                option(value='Upper Tribunal (Other Cases)') Upper Tribunal (Other Cases)
                option(value='Care Standards Cases in the First-Tier Tribunal') Care Standards Cases in the First-Tier Tribunal
                option(value='Taxation cases in the First-Tier Tribunal') Taxation cases in the First-Tier Tribunal
                option(value='Special Immigration Appeals Commission') Special Immigration Appeals Commission
                option(value='Proscribed Organisations Appeals Commission') Proscribed Organisations Appeals Commission
                option(value="Coroner's Court") Coroner's Court
            #msg-global_global_a_COURT_TYPE.messages
          #cd-global_global_a_COURT_PROC_NUMBER.control-item(style='width:100%;display: none')
            .question
              label#lbl-global_global_a_COURT_PROC_NUMBER Court Case Number:
              img.mandatory(src='/web-determinations/staticresource/images/mandatory.png', style='display: none', alt='This question is mandatory')
            .control
              input#global_global_a_COURT_PROC_NUMBER.owd-input(type='text', style='max-width:250px', name='global_global_a_COURT_PROC_NUMBER', value='', size='35', aria-invalid='false', aria-hidden='true', aria-disabled='false', aria-required='false', aria-labelledby='lbl-global_global_a_COURT_PROC_NUMBER', aria-describedby='msg-global_global_a_COURT_PROC_NUMBER')
            #msg-global_global_a_COURT_PROC_NUMBER.messages
          #cd-global_global_a_DATE_COURT_PROCS_COMMENCED.control-item(style='width:100%;display: none')
            .question
              label#lbl-global_global_a_DATE_COURT_PROCS_COMMENCED Date court proceedings commenced:
              img.mandatory(src='/web-determinations/staticresource/images/mandatory.png', style='display: none', alt='This question is mandatory')
            .control
              input#global_global_a_DATE_COURT_PROCS_COMMENCED.owd-input.calendar(type='text', name='global_global_a_DATE_COURT_PROCS_COMMENCED', value='', size='35', aria-invalid='false', aria-hidden='true', aria-disabled='false', aria-required='false', aria-labelledby='lbl-global_global_a_DATE_COURT_PROCS_COMMENCED', aria-describedby='msg-global_global_a_DATE_COURT_PROCS_COMMENCED')
            #msg-global_global_a_DATE_COURT_PROCS_COMMENCED.messages
          #cd-global_global_a_HEARING_DATE_FIXED.control-item(style='width:100%;display: none')
            .question
              label#lbl-global_global_a_HEARING_DATE_FIXED Has a hearing date been fixed?
              img.mandatory(src='/web-determinations/staticresource/images/mandatory.png', style='display: none', alt='This question is mandatory')
            .control
              .radio-group-boolean(role='radiogroup', aria-labelledby='lbl-global_global_a_HEARING_DATE_FIXED', aria-hidden='true', aria-disabled='false', aria-invalid='false', aria-required='false', aria-describedby='msg-global_global_a_HEARING_DATE_FIXED')
                input#global_global_a_HEARING_DATE_FIXEDt.owd-input(type='radio', name='global_global_a_HEARING_DATE_FIXED', value='true', aria-labelledby='lbl-global_global_a_HEARING_DATE_FIXEDt')
                label#lbl-global_global_a_HEARING_DATE_FIXEDt(for='global_global_a_HEARING_DATE_FIXEDt') Yes
                input#global_global_a_HEARING_DATE_FIXEDf.owd-input(type='radio', name='global_global_a_HEARING_DATE_FIXED', value='false', aria-labelledby='lbl-global_global_a_HEARING_DATE_FIXEDf')
                label#lbl-global_global_a_HEARING_DATE_FIXEDf(for='global_global_a_HEARING_DATE_FIXEDf') No
                input#global_global_a_HEARING_DATE_FIXEDu.owd-input(type='radio', name='global_global_a_HEARING_DATE_FIXED', value='', style='', aria-labelledby='lbl-global_global_a_HEARING_DATE_FIXEDu', checked='')
                label#lbl-global_global_a_HEARING_DATE_FIXEDu(for='global_global_a_HEARING_DATE_FIXEDu', style='') Uncertain
            #msg-global_global_a_HEARING_DATE_FIXED.messages
          #cd-global_global_a_DATE_OF_NEXT_COURT_HEARING.control-item(style='width:100%;display: none')
            .question
              label#lbl-global_global_a_DATE_OF_NEXT_COURT_HEARING If yes please confirm the date of the next hearing:
              img.mandatory(src='/web-determinations/staticresource/images/mandatory.png', style='display: none', alt='This question is mandatory')
            .control
              input#global_global_a_DATE_OF_NEXT_COURT_HEARING.owd-input.calendar(type='text', name='global_global_a_DATE_OF_NEXT_COURT_HEARING', value='', size='35', aria-invalid='false', aria-hidden='true', aria-disabled='false', aria-required='false', aria-labelledby='lbl-global_global_a_DATE_OF_NEXT_COURT_HEARING', aria-describedby='msg-global_global_a_DATE_OF_NEXT_COURT_HEARING')
            #msg-global_global_a_DATE_OF_NEXT_COURT_HEARING.messages
          #cd-global_global_a_PURPOSE_OF_NEXT_COURT_HEARING.control-item(style='width:100%;display: none')
            .question
              label#lbl-global_global_a_PURPOSE_OF_NEXT_COURT_HEARING Purpose of the next hearing:
              img.mandatory(src='/web-determinations/staticresource/images/mandatory.png', style='display: none', alt='This question is mandatory')
            .control
              textarea#global_global_a_PURPOSE_OF_NEXT_COURT_HEARING.owd-input(rows='5', cols='30', style='max-width:250px', name='global_global_a_PURPOSE_OF_NEXT_COURT_HEARING', aria-invalid='false', aria-labelledby='lbl-global_global_a_PURPOSE_OF_NEXT_COURT_HEARING', aria-hidden='true', aria-disabled='false', aria-required='false', aria-describedby='msg-global_global_a_PURPOSE_OF_NEXT_COURT_HEARING')
            #msg-global_global_a_PURPOSE_OF_NEXT_COURT_HEARING.messages
          #cd-form-buttons.control-item
            .opm-submit-buttons.opm-submit-bottom-right
              hr.submit-break
              .button-spacer  
              button#back-button.owd-back(name='back', type='button', value='clicked') Back
              button#submit.owd-submit(name='submit', type='submit', value='clicked') Next
